.img-wow {
    width: 100%;
    background-image: url(https://i.pinimg.com/originals/78/e3/76/78e37649cf6219d642dcf3e689e8e753.jpg);
    background-attachment: fixed;
    background-repeat: round;
}

.clearfix:before,
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.card-mc {
    width: 30%;
    float: left;
    margin-right: 3%
}